.version.juegos /* version checker */
{
	color: #0000F7;
	background-color: #1F4D1C;
}

.html
{
	background-color: #3399CC;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 788px;
	background-image: none;
	border-radius: 30px 30px 0px 0px ;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 208px;
	width: 0.01px;
}

#u312
{
	z-index: 61;
	width: 960px;
	padding-bottom: 12px;
}

#u146
{
	z-index: 62;
	width: 339px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 310px;
}

#pu114
{
	width: 0.01px;
	margin-left: -100px;
}

#u114
{
	z-index: 3;
	width: 1160px;
	margin-right: -10000px;
	background-color:#ff0003;
}

#u115
{
	z-index: 3;
	width: 1160px;
	margin-right: -10000px;
	margin-top:15px;
	background-color:#000000;
}

#u120
{
	z-index: 18;
	width: 100px;
	margin-right: -10000px;
	left: 316px;
}

#u120_states
{
	height: 52px;
	width: 100px;
}

#u122
{
	z-index: 22;
	width: 109px;
	margin-right: -10000px;
	left: 415px;
}

#u122_states
{
	height: 52px;
	width: 109px;
}

#u123
{
	z-index: 26;
	width: 167px;
	margin-right: -10000px;
	left: 523px;
}

#u123_states
{
	height: 52px;
	width: 167px;
}

#u124
{
	z-index: 30;
	width: 157px;
	margin-right: -10000px;
	left: 688px;
}

#u124_states
{
	height: 52px;
	width: 157px;
}

#u160-4
{
	z-index: 33;
	display: block;
	vertical-align: top;
	margin-left: 367px;
	margin-top: 34px;
	position: relative;
}

#ppu332
{
	width: 0.01px;
	margin-left: 213px;
	margin-top: 43px;
}

#u332
{
	z-index: 4;
	width: 154px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u185
{
	z-index: 50;
	height: 52px;
	width: 154px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../images/u185.png") no-repeat 0px 0px;
}

#u185:hover
{
	background: url("../images/u185-r.png") no-repeat 0px 0px;
}

#u185:active
{
	background: url("../images/u185-m.png") no-repeat 0px 0px;
}

#u326
{
	z-index: 2;
	width: 154px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u182
{
	z-index: 38;
	height: 52px;
	width: 154px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../images/u182.png") no-repeat 0px 0px;
}

#u182:hover
{
	background: url("../images/u182-r.png") no-repeat 0px 0px;
}

#u182:active
{
	background: url("../images/u182-m.png") no-repeat 0px 0px;
}

#ppu337
{
	width: 0.01px;
	margin-left: 213px;
	margin-top: 37px;
}

#u337
{
	z-index: 8;
	width: 154px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u101
{
	z-index: 14;
	width: 5px;
	height: 5px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 81px;
}

.ie #u101
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u186
{
	z-index: 54;
	height: 52px;
	width: 154px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../images/u186.png") no-repeat 0px 0px;
}

#u186:hover
{
	background: url("../images/u186-r.png") no-repeat 0px 0px;
}

#u186:active
{
	background: url("../images/u186-m.png") no-repeat 0px 0px;
}

#u335
{
	z-index: 6;
	width: 154px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u183
{
	z-index: 42;
	height: 52px;
	width: 154px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../images/u183.png") no-repeat 0px 0px;
}

#u183:hover
{
	background: url("../images/u183-r.png") no-repeat 0px 0px;
}

#u183:active
{
	background: url("../images/u183-m.png") no-repeat 0px 0px;
}

#ppu343
{
	width: 0.01px;
	margin-left: 213px;
	margin-top: -150px;
}

#pu332,#pu337,#pu343
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 381px;
}

#u343
{
	z-index: 12;
	width: 154px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u187
{
	z-index: 58;
	height: 52px;
	width: 154px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../images/u187.png") no-repeat 0px 0px;
}

#u187:hover
{
	background: url("../images/u187-r.png") no-repeat 0px 0px;
}

#u187:active
{
	background: url("../images/u187-m.png") no-repeat 0px 0px;
}

#u341
{
	z-index: 10;
	width: 154px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u184
{
	z-index: 46;
	height: 52px;
	width: 154px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../images/u184.png") no-repeat 0px 0px;
}

#u184:hover
{
	background: url("../images/u184-r.png") no-repeat 0px 0px;
}

#u184:active
{
	background: url("../images/u184-m.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 14px;
}

#page .verticalspacer
{
	clear: both;
}

